@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        .bottom-container {
            background-color: yellow;
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://www.easj.dk/">Erhvervsakademi Sjælland</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="teachingAutumn19Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teaching Autumn 2019
                    </a>
                    <div class="dropdown-menu" aria-labelledby="teachingAutumn19Dropdown">
                        <a class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Datamatiker, 3. sem. Prog.</a>
                        <a class="dropdown-item" href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">4th semester Comp Science</a>
                        <a class="dropdown-item" href="https://anbo-easj.dk/internship/index.html">5th semester, Comp Science</a>
                        <a class="dropdown-item" href="https://anbo-easj.dk/dissertation2020spring/">Dissertations, Computer Science</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="teachingSpring19Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teaching Spring 2019
                    </a>
                    <div class="dropdown-menu" aria-labelledby="teachingSpring19Dropdown">
                        <a class="dropdown-item" href="https://anbo-easj.dk/mobile2019spring/index.html">4th semester Comp Science</a>
                        <a class="dropdown-item" href="https://anbo-easj.dk/internship/index.html">5th semester, Comp Science</a>
                        <a class="dropdown-item" href="https://anbo-easj.dk/dissertation2019spring/">Dissertations, Computer Science</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="teachingAutumn18Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teaching Autumn 2018
                    </a>
                    <div class="dropdown-menu" aria-labelledby="teachingAutumn18Dropdown">
                        <a class="dropdown-item" href="https://anbo-easj.dk/prog3_2018autumn/index.html">Datamatiker, 3. sem. Prog.</a>
                        <a class="dropdown-item" href="https://anbo-easj.dk/mobile2018autumn/index.html">4th semester Comp Science</a>
                        <a class="dropdown-item" href="https://anbo-easj.dk/dissertation2018autumn/">Dissertations, Computer Science</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://anbo-easj.dk/undervisning/">Previous semesters</a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="container mt-5 bottom-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="text-center">
                    Anders Børjesson (anbo)
                </p>
                <p class="text-center">
                    Cand.scient. i matematik og datalogi
                </p>
                <p class="text-center">
                    Lektor på Datamatikeruddannelsen
                </p>
                <p class="text-center">
                    Zealand, Sjællands Erhvervsakademi, Roskilde
                </p>
            </div>
        </div>
    </div>
</body>
</html>




